.price__text-wrapper {
  position: absolute;
  z-index: 1;
  max-width: 41.6%;
  text-align: center;
  top: 7.8%;
  left: calc((100% - 41.6%)/2);
  display: flex;
  flex-direction: column;
  align-items: center;
}