@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__text/intro__text.css');
@import url('../intro/__text-wrapper/intro__text-wrapper.css');
@import url('../intro/__img/intro__img.css');


.intro {
  width: 100%;
  max-width: 1440px;
  height: 742px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 12.5%;
  padding-right: 11.5%;
  
}

@media screen and (max-width: 1400px) {
  .intro {
    height: 850px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
    padding-top: 50px;
    height: 1000px;
  }
}