.description-item__text-wrapper {
  max-width: 445px;
  width: 100%;
}


@media screen and (max-width: 1175px) {
  .description-item__text-wrapper {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .description-item__text-wrapper {
    max-width: 100%;
    margin-top: 20px;
  }
}