.text {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #6f7cb2;
}

@media screen and (max-width: 925px) {
  .text {
    font-size: 12px;
    line-height: 20px;
  }
}


@media screen and (max-width: 425px) {
  .text {
    font-size: 10px;
    line-height: 16px;
  }
}