

.button {
  width: 160px;
  height: 26px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  background-color: #111B47;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  transition: box-shadow 0.2s ease-out, background-color 0.1s linear;
}

.button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 3px 1px rgba(80, 95, 152, 0.5);
  background-color: rgb(255, 101, 132)
}


